<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Adding Things</title>
  </head>
  <body>

    <h1>Adding {{number1}} + {{number2}}:</h1>

    <h2>Total: {{sum}}</h2>

    <ul>
      {{#favs}}
        <li>{{number}}</li>
      {{/favs}}
    </ul>

  </body>
</html>
